body {
    display: flex;
    justify-content: center;
    background-color: black; 
    font-family: 'Kaushan Script', cursive;
 
 }
 
 .page {
     
     max-width: 75%;
     
 }
 nav { 
     text-align: center;
 }
 
 h1, h2 {
     text-align: center;
     color: beige;
 }
 h1 {
     font-size: 45px;
 }
 h2 {
     font-size: 35px;
 }
 .navLinks {
     font-size: 20px;
     color: bisque;
 }
 .sectionTwo { 
     display: flex;
    
 
 }
 .profileImage {
    height: 325px;
    width: 275px;
    position: relative;
    top: 150px;
    left: 20%;
    margin-top: 5px;
    border-radius: 10px;
    
    /*
     position: relative;
     top: 20px;
     height: 350px;
     width: 400px;
     max-width: auto;
     max-height: auto;
     margin-top: 6%;
     margin-left: 50px;
     border-radius: 10px;
     border: burlywood solid 4px;
     */
 }
 
 .secTwopara {
     font-family: 'Playfair Display', serif;
     font-size: 22px;/* Make the size 20px and make it scrollable (within the container)*/
     position: relative;
     top: 45px;
     left: 22%;
     background-color: #e7d0b3;
     padding-left: 20px;
     padding-top: 10px;
     padding-bottom: 30px;
     border-radius: 10px;
     width: 850px;
     height: 275px;
     overflow: scroll;
     margin-bottom: 30px;
 
 }
 .sectionTwodiv  {
    position: relative;;
    left: 25%;
    width: 60%;
}
.sectionTwodiv h2 {
   text-align: center;
    width: fit-content;

}
 .secTwoimages ul {
     margin-top: 2rem;
     background-color: teal;
     border-radius: 15px;
     height: 170px;
     align-items: center;
     justify-content: space-around;
     
 }    
 ul li {
     list-style-type: none;
     display: inline-flex;
     padding: 5px;
 }
 .img-1, .img-2, .img-3,
 .img-4, .img-5, .img-6 {
     height: 150px;
     width: 170px;
     border-radius: 20px;
    
 }
 .sectionThree {
   
 }
 .articleImage {
     float: left;
     border-radius: 10px;
     padding: 25px;
     height: 200px;
 }
 .articleImage2 {
     height: 200px;
     float: left;
     padding: 25px;
     
 }
 .secThreepara p {
     font-size: 20px;
     columns: 2;
     color: rgb(188, 188, 130);
     font-family: 'Playfair Display', serif;
 }
 .row {
     display: flex;
     justify-content: space-between;
 }
 .secThreepara {
     width: 48%;
 
 }
 