body {
  background-color: black;
  display: flex;
  font-family: "Kaushan Script", cursive;
}
* {
  box-sizing: border-box;
}

.page {
  margin: auto;
  width: 75%;
}
.row {
  display: flex;
}

@media (max-width: 680px) {
  .page {
    width: 100%;
    margin: 8px;
  }
  .row {
    display: block;
  }
  .secThreepara:first-child {
    margin: 0;
  }
}

h1,
h2 {
  color: beige;
  text-align: center;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
  color: beige;
}

nav {
  text-align: center;
}
nav ul {
  padding: 0;
  margin: 4px;
  font-size: 20px;
  color: bisque;
}
nav ul li {
  font-size: 14px;
  list-style-type: none;
  display: inline-flex;
  padding: 5px;
}

section {
  margin-bottom: 48px;
}

.profileImage {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.secTwo {
  height: 250px;
  width: 600px;
  margin: auto;
}
.secTwopara {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  height: 100%;
  margin-left: 14px;
  /* width: 300px; */
  background-color: #e7d0b3;
  border-radius: 10px;
  padding: 12px;
}
.secTwoScroll {
  height: 100%;
  overflow: auto;
}

.swiper {
  width: 600px;
  height: 300px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.secThreepara {
  width: 50%;
}
.secThreepara:first-child {
  margin-right: 50px;
}
.secThreepara p {
  font-size: 20px;
  columns: 2;
  color: rgb(188, 188, 130);
  font-family: "Playfair Display", serif;
}
.secThreepara img {
  border-radius: 10px;
  margin: 25px;
  height: 200px;
  float: left;
}
