body {
    width: 75%;
    margin: auto;
    background-color: black; 
    font-family: 'Kaushan Script', cursive;
 
 }
 @media (max-width: 680px) {
    body {
        display: block;
    }
}
 .page {
    max-width: 100%;
 }
 @media (max-width: 680px) {
 .sectionOne {
    width: 75%;
    margin: 8px;
    display: inline;
 }
}
 h1 {
    font-size: 30px;
    text-align: center;
    color: beige;
 }
 
 h2 {
    font-size: 20px;
    text-align: center;
    color: beige;
 }
 @media (max-width: 680px) {
    .sectionTwo h2 {
        font-size: 20px;
    }
 }
  nav { 
    text-align: center;
 }
 .navLinks {
    padding: 0;
    margin: 4px;
    font-size: 20px;
    color: bisque;
 }
 .navLinks li {
    font-size: 14px;
 }
 .row {
    display: flex;
}
@media (max-width: 680px) {
    .row {
        display: block;
    }
}
 .sectionTwo { 
    display: flex;
    justify-content: center;
    
}
@media(max-width:680px) {
    .sectionTwo {
        display: block;
        width: 100%;
        margin: 0;
 }
}
 .sectionTwodiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    
 }
 
 .profileImage {
    height: 225px;
    width: 175px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
 }
 @media(max-width: 500px) {
    .profileImage {
        height: 250px;
        width: 225px;
    }
 }
 .secTwopara {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    height: 120px;
    width: 300px;
    background-color: #e7d0b3;
    border-radius: 10px;
    overflow: scroll;
    
 }
 @media(max-width:500px) {
    .secTwopara {
        padding: 0;
        margin: auto;
        font-size: 12px; 
        height: 150px;
        
    }
 }

 .secTwopara p {
    height: 125px;
    
    
 }
 @media (max-width: 680px) {
    .secTwopara p {
    margin: 0 2px 8px;
    height: 125px;
    width: 440px;
    font-size: 12px;
    text-indent: 15px;
    }
}
.secTwoimages {
    display: flex;
    padding: 0;
    position: relative;
    bottom: 60px;
}
@media (max-width: 680px) {
    .secTwoimages {
    display: block;
       
    }
}
.swiper {
    width: 600px;
    height: 300px;
    margin-bottom: 80px;
    bottom: 55px;
    border-radius: 10px;
}
.swiper-slide img {
    height: 400px;
    width: inherit;
}
 .secTwoimages ul {
     display: flex;
     flex-grow: 1;
     justify-content: space-around;
     padding: 0;
     
 }    
 ul li {
     list-style-type: none;
     display: inline-flex;
     padding: 5px;
 }
 .img-1, .img-2, .img-3,
 .img-4, .img-5, .img-6 {
     display: none;
    
 }
 @media (max-width: 680px) {
    .img-1, .img-2, .img-3,
    .img-4, .img-5, .img-6 {
        height: 100px;
        width: 90px;
        border-radius: 20px;
 }
 }

 .articleImage {
     float: left;
     border-radius: 10px;
     padding: 25px;
     height: 200px;
 }
 @media (max-width: 680px) {
    .articleImage {
        float: none;
        padding-left: 30px;
        padding-top: 20px;
    }
 }
@media (max-width: 680px) {
    .articleImage2 {
        float: none;
        padding-left: 30px;
        padding-top: 20px;
    }
}

 .articleImage2 {
     height: 200px;
     float: left;
     padding: 25px;
     
 }
 secThreepara {
    width: 50%;
}
 .secThreepara p {
     font-size: 20px;
     columns: 2;
     color: rgb(188, 188, 130);
     font-family: 'Playfair Display', serif;
 }
 


/*.img-1, .img-2, .img-3,
.img-4, .img-5, .img-6 {
    height: 100px;
    width: 95px;
    border-radius: 20px;
}
.articleImage {
    float: left;
    border-radius: 10px;
    padding: 25px;
    height: 200px;
}
.articleImage2 {
    height: 200px;
    float: left;
    padding: 25px;
    
}
.secTwopara p {
    height: 125px;
    font-size: 14px;
    justify-content: ;
}

    .secTwopara p { 
    margin: 0 2px 8px;
    height: 125px;
    font-size: 12px;
    text-indent: 15px;
    
}